{% extends 'base.html' %}
{% block title %}{{ ui_text('contacts', lang) }}{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-secondary">{{ ui_text('contacts', lang) }}</h1>
    <ul class="list-group mb-4">
        <li class="list-group-item bg-light"><b>{{ ui_text('contact_name', lang) }}:</b> Andrii</li>
        <li class="list-group-item bg-light"><b>{{ ui_text('contact_phone', lang) }}:</b> <a href="tel:+4916095030120">+49 160 95030120</a></li>
        <li class="list-group-item bg-light"><b>{{ ui_text('contact_email', lang) }}:</b> <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a></li>
        <li class="list-group-item bg-light"><b>{{ ui_text('contact_telegram', lang) }}:</b> <a href="https://t.me/borisovi479" target="_blank">@borisovi479</a></li>
    </ul>
</div>
{% endblock %}
