{% extends "base.html" %}
{% block title %}Контакти{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-secondary">Контакти</h1>
    <ul class="list-group mb-4">
        <li class="list-group-item bg-light"><b>Ім'я:</b> Andrii</li>
        <li class="list-group-item bg-light"><b>Телефон:</b> <a href="tel:+4916095030120">+49 160 95030120</a></li>
        <li class="list-group-item bg-light"><b>Email:</b> <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a></li>
        <li class="list-group-item bg-light"><b>Telegram:</b> <a href="https://t.me/borisovi479" target="_blank">@borisovi479</a></li>
    </ul>
</div>
{% endblock %}
