{% extends "base.html" %}
{% block title %}Імпресум{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-secondary">Імпресум</h1>
    <div class="alert alert-warning mb-4">
        <b>Увага!</b> Цей сайт є тестовим стартапом. Я ще не є юридичною фірмою чи зареєстрованою компанією. Як тільки буде створено компанію, інформація з'явиться тут.
    </div>
    <p>З усіх питань звертайтесь до мене як до розробника через <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a> або за телефоном <a href="tel:+4916095030120">+49 160 95030120</a>.</p>
</div>
{% endblock %}